# Ignore local env file
.env

# Ignore Tailscale state and certs
tailscale-data/

app/node_modules/
app/.vscode/
app/.angular/
app/dist/
drone-data/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
